# Don't save on exit. This is to prevent overwriting the main config file.
config_save_on_exit = "false"
history_list_enable = "false"
notification_show_when_menu_is_alive = "true"
quit_on_close_content = "2"
